# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Python pickle files
*.pkl

# Ignore common image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.ico
*.webp

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore Pycharm settings
.idea/

# Ignore the Virtual environment
.venv/